nav {
    background-color: $primarycolor;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 13%;
        width: 0.125rem;
        height: 100%;
        background-color: #d6d7d8;
    }

    ul {
        margin: 0 auto;
    }

    .nav-item {
        font-family: bfont;

        .circle {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3.125rem;
        }

        .nav-link {
            color: #000;
            font-size: 0.875rem;
            margin: 0 0.9375rem;
            text-transform: uppercase;
        }

        .highlighted {
            border-right: 0.125rem solid #b4b2b2;
            padding-right: 1.25rem !important;
        }

        svg {
            width: 1.5625rem;
        }

    }

    .navbar-icon {
        display: none;
        color: #000;
        font-size: 1.125rem;
        cursor: pointer;
        position: absolute;
        right: 3.125rem;

        svg {
            width: 30px;
        }
    }

    .navbar {
        padding: 1.25rem;
    }


}

.hero {
    background-image: url('../images/hero.png');
    background-size: cover;

    &-wrapper {
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;

        .content {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;

            h3 {
                color: $titlecolor;
                font-size: 3rem;
            }

            h1 {
                font-family: bfont;
                font-size: 4rem;
                text-transform: uppercase;
            }
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.625rem;

            .video {
                display: flex;
                margin-left: 2.5rem;

                svg {
                    width: 1.875rem;
                }

                button {
                    padding: 0 1rem 0;
                    text-wrap: nowrap;
                }
            }
        }
    }
}

.home {
    background-color: #000;
    width: 100vw;
    padding: 12rem 0;
    color: #fff;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2rem;

        h2 {
            color: #fff;
        }

        p {
            width: 60%;
            text-align: center;
            font-size: 1.4rem;
        }

        &-btns {
            gap: 2rem;
            display: flex;
        }
    }
}

.about {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0;



    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        gap: 1rem;

        p {
            font-family: mfont;
            font-size: 1.2rem;
            text-align: justify;
            color: #6f7070;
            width: 80%;
        }

     
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid #cfcfcf;

        img {
            width: 100%;
            padding: 30px;
            margin-right: -1.5rem;
        }

    }

}

.news {
    position: relative;


    .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-right: 2px solid #cfcfcf;

        img {
            width: 100%;
            padding: 30px;
            margin-left: -2rem;
        }
    }

    .floated-ele {
        position: absolute;
        bottom: 0;
        right: -5%;
    }

}

.events {
    &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5rem;

        p {
            font-family: mfont;
            font-size: 1.7rem;
            text-align: justify;
            color: #898989;
            width: 50%;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding: 7rem 0 3rem 0;
        position: relative;

    }

    .swiper-slide {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .swiper-content {
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.5rem;

            h4 {
                font-size: 2rem;
                font-family: blfont;
                text-transform: uppercase;
            }

            p {
                font-size: 1rem;
                font-family: rfont;
                color: #898989;
                text-align: justify;
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }

}

.swiper-wrapper {
    width: 100%;
    padding: 30px;
    margin-left: -1.2rem;


}

.swiper-pagination {
    text-align: right;
    margin-left: -1rem;
    padding: 0.8rem 0;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #000;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

#location {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    svg {
        margin-right: 1rem;
    }

    span {
        font-family: mfont;
        font-size: 1rem;
    }
}

.growup {
    position: relative;
    width: 100%;
    padding: 3rem 0;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        h4 {
            text-transform: uppercase;
            font-family: bfont;
            font-weight: bolder;
            font-size: 2.3rem;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 8rem;
            flex-wrap: wrap;
            @media screen and (max-width:768px) {
                gap: 3rem;
            }
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items:center;
                &:not(:nth-last-child(1)) {
                    &::after {
                        position: absolute;
                        content: "";
                        right: -50%;
                        top: 0;
                        height: 69%;
                        width: 0.12rem;
                        background: rgb(204, 203, 203);
                        bottom: 0;
                        margin: auto;
                        @media screen and (max-width:768px) {
                        right: -20%;
                        }
                    }

                }

            }
        }
    }
}

footer{
    padding: 5rem 0 2rem 0 ;
    background:#000;
    color:#c7c6c6;
    p{
        font-family: rfont;
        color: #898989;
    }
    h3{
        font-size: 3.6rem;
        font-weight: bold;
        color:white;
        font-family: bfont;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .cs-input{
        padding: 1rem;
        width: 50rem;
        border:none;
        background: transparent;
        border-bottom: 1px solid #c7c6c6;
        text-transform: capitalize;
        box-shadow:none;
        color:inherit;
        font-family: mfont;
        @media screen and (max-width:768px) {
           width: 80%;
        }
        &:focus,&:hover, &:focus-visible{
            outline: none;
    }
    }

    .footer-content {
        border-top:1px solid #c7c6c6;
        margin-top: 5rem;
        &--wrapper{
            width:100%;
            padding: 3rem 5rem 0 5rem ;
            @media screen and (max-width:768px) {
                padding: 3rem 1rem 0 1rem;
                 }
            .logo{
                filter: invert(1)
            }
            .internal-links{
                font-family: bfont;
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 2rem;
                align-items:center;
                flex-wrap: wrap;
                margin: 0 ;
                padding: 0;
                height: 100%;
                flex-wrap: wrap;
             
                @media screen and (max-width:768px) {
                   gap: 1rem;
                   flex-direction: column;
                   justify-content: flex-start;
                margin: 1rem 0;
                align-items:flex-start;
                   margin: 2rem 0;
                    }
                li{
                    a{
                        text-transform: capitalize;
                        white-space: nowrap;
                        color:#c7c6c6;
                        text-decoration: none;
                    }
                }
            }
            .right{
                border-left:1px solid white;
                height: 100%;
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    align-items:center;
                    margin: 0 ;
                    padding: 0;
                    height: 100%;
                    li{
                        a{
                            color:#c7c6c6;
                            text-decoration: none;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}

/* responsive part */

@media screen and (max-width: 1440px) {

    .home-content {
        p {
            width: 80%;
            text-align: center;
        }

    }

}

@media screen and (max-width: 1024px) {

    html {
        overflow-x: hidden;
        font-size: 12px;
    }
.hero{
    background-position: 36%;
}
    .custom--px {
        padding: 0 15px;
    }

    nav {
        &::after {
            display: none;
        }

        .navbar-nav {
            display: none;
        }

        .navbar-icon {
            display: block;
            margin-top: 1.5rem;
        }

        .navbar-collapse {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        .navbar-nav.responsive {
            display: flex;
            flex-direction: column;
            padding: 60px 0;
            text-align: center;
        }

        .navbar-nav.responsive a {
            margin-right: 0;
            font-size: 16px;
            padding: 20px 0;
        }
    }


    .home-content {
        p {
            width: 100%;
            text-align: left;
        }

    }

    .about-content {
        padding-top: 30px;
    }

    .news {
        border-bottom: none;
        margin-bottom: 1.875rem;

        .about-content {
            margin-left: 3.125rem;
        }
    }

    .events-content {
        flex-direction: column;
        gap: 1rem;

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {

    .home-content {
        width: 100%;

        p {
            width: 100%;
            text-align: left;
        }

        &-btns {
            flex-direction: column;
        }

    }

    .news {
    .floated-ele {

        right: -30%;
    }
}
}

