@font-face {
  font-family: blfont;
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: bfont;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: mfont;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: rfont;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: lfont;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 300;
}
@font-face {
  font-family: font_title;
  src: url(../fonts/Satisfy-Regular.ttf);
  font-weight: 400;
}
h2 {
  font-family: bfont;
  font-size: 5rem;
  text-transform: uppercase;
  color: #000;
}

h3 {
  font-family: font_title;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #000;
  text-align: center;
}

.b-none {
  border: none;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125rem #eef1ba;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #eef1ba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  direction: ltr;
  overflow-x: hidden;
  background-color: #f0f2f4;
}

.custom--px {
  padding: 0 30px;
}

.custom--mb {
  margin-bottom: 1.875rem;
}

.custom--mt {
  margin-top: 1.875rem;
}

.custom--ml {
  margin-left: 3.125rem;
}

.title {
  border-bottom: 2px solid #cfcfcf;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  border-top: 2px solid #cfcfcf;
  margin-top: 0;
  padding-top: 1.5rem;
}

p {
  font-family: lfont;
}

button {
  background: none;
  color: #fff;
  padding: 0.625rem 3rem;
  border: 0.0625rem solid #fff;
  text-transform: capitalize;
  font-family: mfont;
}
button.black {
  border-color: #000;
  color: #000;
}

nav {
  background-color: rgb(240, 242, 244);
}
nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 13%;
  width: 0.125rem;
  height: 100%;
  background-color: #d6d7d8;
}
nav ul {
  margin: 0 auto;
}
nav .navbar-brand {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav .nav-item {
  font-family: bfont;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav .nav-item .circle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3.125rem;
}
nav .nav-item .nav-link {
  color: #000;
  font-size: 0.875rem;
  margin: 0 0.9375rem;
  text-transform: uppercase;
}
nav .nav-item .highlighted {
  border-right: 0.125rem solid #b4b2b2;
  padding-right: 1.25rem !important;
}
nav .nav-item svg {
  width: 1.5625rem;
}
nav .navbar-icon {
  display: none;
  color: #000;
  font-size: 1.125rem;
  cursor: pointer;
  position: absolute;
  right: 3.125rem;
}
nav .navbar-icon svg {
  width: 30px;
}
nav .navbar {
  padding: 1.25rem;
}

.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
}
.hero-wrapper {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}
.hero-wrapper .content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.hero-wrapper .content h3 {
  color: #bbca09;
  font-size: 3rem;
}
.hero-wrapper .content h1 {
  font-family: bfont;
  font-size: 4rem;
  text-transform: uppercase;
}
.hero-wrapper .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
}
.hero-wrapper .btns .video {
  display: flex;
  margin-left: 2.5rem;
}
.hero-wrapper .btns .video svg {
  width: 1.875rem;
}
.hero-wrapper .btns .video button {
  padding: 0 1rem 0;
  text-wrap: nowrap;
}

.home {
  background-color: #000;
  width: 100vw;
  padding: 12rem 0;
  color: #fff;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}
.home-content h2 {
  color: #fff;
}
.home-content p {
  width: 60%;
  text-align: center;
  font-size: 1.4rem;
}
.home-content-btns {
  gap: 2rem;
  display: flex;
}

.about {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 1rem;
}
.about-content p {
  font-family: mfont;
  font-size: 1.2rem;
  text-align: justify;
  color: #6f7070;
  width: 80%;
}
.about .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #cfcfcf;
}
.about .img-wrapper img {
  width: 100%;
  padding: 30px;
  margin-right: -1.5rem;
}

.news {
  position: relative;
}
.news .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-right: 2px solid #cfcfcf;
}
.news .img-wrapper img {
  width: 100%;
  padding: 30px;
  margin-left: -2rem;
}
.news .floated-ele {
  position: absolute;
  bottom: 0;
  right: -5%;
}

.events-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}
.events-content p {
  font-family: mfont;
  font-size: 1.7rem;
  text-align: justify;
  color: #898989;
  width: 50%;
}
.events .swiper {
  width: 100%;
  height: 100%;
  padding: 7rem 0 3rem 0;
  position: relative;
}
.events .swiper-slide {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.events .swiper-slide .swiper-content {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.events .swiper-slide .swiper-content h4 {
  font-size: 2rem;
  font-family: blfont;
  text-transform: uppercase;
}
.events .swiper-slide .swiper-content p {
  font-size: 1rem;
  font-family: rfont;
  color: #898989;
  text-align: justify;
}
.events .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  padding: 30px;
  margin-left: -1.2rem;
}

.swiper-pagination {
  text-align: right;
  margin-left: -1rem;
  padding: 0.8rem 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #000;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

#location {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}
#location svg {
  margin-right: 1rem;
}
#location span {
  font-family: mfont;
  font-size: 1rem;
}

.growup {
  position: relative;
  width: 100%;
  padding: 3rem 0;
}
.growup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.growup-wrapper h4 {
  text-transform: uppercase;
  font-family: bfont;
  font-weight: bolder;
  font-size: 2.3rem;
}
.growup-wrapper ul {
  list-style: none;
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .growup-wrapper ul {
    gap: 3rem;
  }
}
.growup-wrapper ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.growup-wrapper ul li:not(:nth-last-child(1))::after {
  position: absolute;
  content: "";
  right: -50%;
  top: 0;
  height: 69%;
  width: 0.12rem;
  background: rgb(204, 203, 203);
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .growup-wrapper ul li:not(:nth-last-child(1))::after {
    right: -20%;
  }
}

footer {
  padding: 5rem 0 2rem 0;
  background: #000;
  color: #c7c6c6;
}
footer p {
  font-family: rfont;
  color: #898989;
}
footer h3 {
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
  font-family: bfont;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .cs-input {
  padding: 1rem;
  width: 50rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #c7c6c6;
  text-transform: capitalize;
  box-shadow: none;
  color: inherit;
  font-family: mfont;
}
@media screen and (max-width: 768px) {
  footer .cs-input {
    width: 80%;
  }
}
footer .cs-input:focus, footer .cs-input:hover, footer .cs-input:focus-visible {
  outline: none;
}
footer .footer-content {
  border-top: 1px solid #c7c6c6;
  margin-top: 5rem;
}
footer .footer-content--wrapper {
  width: 100%;
  padding: 3rem 5rem 0 5rem;
}
@media screen and (max-width: 768px) {
  footer .footer-content--wrapper {
    padding: 3rem 1rem 0 1rem;
  }
}
footer .footer-content--wrapper .logo {
  filter: invert(1);
}
footer .footer-content--wrapper .internal-links {
  font-family: bfont;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  footer .footer-content--wrapper .internal-links {
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    align-items: flex-start;
    margin: 2rem 0;
  }
}
footer .footer-content--wrapper .internal-links li a {
  text-transform: capitalize;
  white-space: nowrap;
  color: #c7c6c6;
  text-decoration: none;
}
footer .footer-content--wrapper .right {
  border-left: 1px solid white;
  height: 100%;
}
footer .footer-content--wrapper .right ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
footer .footer-content--wrapper .right ul li a {
  color: #c7c6c6;
  text-decoration: none;
  font-size: 2rem;
}

/* responsive part */
@media screen and (max-width: 1440px) {
  .home-content p {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
    font-size: 12px;
  }
  .hero {
    background-position: 36%;
  }
  .custom--px {
    padding: 0 15px;
  }
  nav::after {
    display: none;
  }
  nav .navbar-nav {
    display: none;
  }
  nav .navbar-icon {
    display: block;
    margin-top: 1.5rem;
  }
  nav .navbar-collapse {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  nav .navbar-nav.responsive {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    text-align: center;
  }
  nav .navbar-nav.responsive a {
    margin-right: 0;
    font-size: 16px;
    padding: 20px 0;
  }
  .home-content p {
    width: 100%;
    text-align: left;
  }
  .about-content {
    padding-top: 30px;
  }
  .news {
    border-bottom: none;
    margin-bottom: 1.875rem;
  }
  .news .about-content {
    margin-left: 3.125rem;
  }
  .events-content {
    flex-direction: column;
    gap: 1rem;
  }
  .events-content p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home-content {
    width: 100%;
  }
  .home-content p {
    width: 100%;
    text-align: left;
  }
  .home-content-btns {
    flex-direction: column;
  }
  .news .floated-ele {
    right: -30%;
  }
}/*# sourceMappingURL=main.css.map */